*{
}
body{
    background: #e5e5e5;
    font-family: tahoma;
}
img{
    border: 0px;
}
#content{
    margin-top: 100px;
    background: white;
    padding: 10px 0px;
    width: 420px;
    position: relative;
    left: 50%;
    margin-left: -210px;
    border: 1px solid #cacaca;
}

#bu_logo{
    position: relative;
    left: 50%;
    margin-left: -44px;
    margin-top: 20px;
}
h1{
    font-family: georgia;
    font-style: italic;
}
#wrapper{
    width: 380px;
    position: relative;
    left: 20px;
}
.link_text_field{
    width: 360px;
    font-size: 14px;
    padding: 3px 5px;
}

#uploadButton{
    width: 100px;
    position: relative;
    margin-top: 20px;
    left: 140px;
}
.previewImage img{
    background: #fafafa;
    padding: 10px;
}
#previewBlock{
    text-align: center;

}
.hr{
    border-bottom: 1px solid gray;
    margin: 10px 0px;
}
